*{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(135deg, #08203e, #557c93);*/
    background-image: linear-gradient(to right top, #f4e6f1, #f4d9ed, #f3cce9, #f3bfe4, #f3b2df, #ebb3e7, #e2b5f0, #d6b7f7, #bfc7ff, #aed5ff, #aae0ff, #b3e8f7);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px 30px 40px;
    border-radius: 10px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4e6f1;
    border-radius: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
}
button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #f3a0d7;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}
ul li{
    list-style: none;
    font-size: 17px;
    word-wrap: break-word;
    padding: 20px 50px 8px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url(images/unchecked.png);
    background-size: 30px 30px;
    left: 5px;
    bottom: 5px;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/icon.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;   
    text-align: center;
}